.paymentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  > h6 {
    margin-top: 140px;
    font-size: 32px;
    text-align: center;
  }
}

.paymentImg {
  display: flex;
  gap: 100px;

  > img {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 1160px) {
  .paymentImg {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
